# Exploration 14
# ë¯¸ë‹ˆí”„ë¡œì íŠ¸: Movielens ì˜í™” ì¶”ì²œ ì‹¤ìŠµ ğŸ
|---í‰ê°€ë¬¸í•­---|---ìƒì„¸ê¸°ì¤€---|
|:------|:------|
|1. CSR matrixê°€ ì •ìƒì ìœ¼ë¡œ ë§Œë“¤ì–´ì¡Œë‹¤.|ì‚¬ìš©ìì™€ ì•„ì´í…œ ê°œìˆ˜ë¥¼ ë°”íƒ•ìœ¼ë¡œ ì •í™•í•œ ì‚¬ì´ì¦ˆë¡œ ë§Œë“¤ì—ˆë‹¤.|
|2. MF ëª¨ë¸ì´ ì •ìƒì ìœ¼ë¡œ í›ˆë ¨ë˜ì–´ ê·¸ëŸ´ë“¯í•œ ì¶”ì²œì´ ì´ë£¨ì–´ì¡Œë‹¤.|ì‚¬ìš©ìì™€ ì•„ì´í…œ ë²¡í„° ë‚´ì ìˆ˜ì¹˜ê°€ ì˜ë¯¸ìˆê²Œ í˜•ì„±ë˜ì—ˆë‹¤.|
|3. ë¹„ìŠ·í•œ ì˜í™” ì°¾ê¸°ì™€ ìœ ì €ì—ê²Œ ì¶”ì²œí•˜ê¸°ì˜ ê³¼ì •ì´ ì •ìƒì ìœ¼ë¡œ ì§„í–‰ë˜ì—ˆë‹¤.|MFëª¨ë¸ì´ ì˜ˆì¸¡í•œ ìœ ì € ì„ í˜¸ë„ ë° ì•„ì´í…œê°„ ìœ ì‚¬ë„, ê¸°ì—¬ë„ê°€ ì˜ë¯¸ìˆê²Œ ì¸¡ì •ë˜ì—ˆë‹¤.|

## Movielens ë°ì´í„°
- ìœ ì €ê°€ ì˜í™”ì— ëŒ€í•´ í‰ì ì„ ë§¤ê¸´ ë°ì´í„°ê°€ ë°ì´í„° í¬ê¸° ë³„ë¡œ ìˆìŠµë‹ˆë‹¤. MovieLens 1M Dataset ì‚¬ìš©ì„ ê¶Œì¥í•©ë‹ˆë‹¤.
- ë³„ì  ë°ì´í„°ëŠ” ëŒ€í‘œì ì¸ explicit ë°ì´í„°ì…ë‹ˆë‹¤. í•˜ì§€ë§Œ implicit ë°ì´í„°ë¡œ ê°„ì£¼í•˜ê³  í…ŒìŠ¤íŠ¸í•´ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- ë³„ì ì„ ì‹œì²­íšŸìˆ˜ë¡œ í•´ì„í•´ì„œ ìƒê°í•˜ê² ìŠµë‹ˆë‹¤.
- ë˜í•œ ìœ ì €ê°€ 3ì  ë¯¸ë§Œìœ¼ë¡œ ì¤€ ë°ì´í„°ëŠ” ì„ í˜¸í•˜ì§€ ì•ŠëŠ”ë‹¤ê³  ê°€ì •í•˜ê³  ì œì™¸í•˜ê² ìŠµë‹ˆë‹¤.

# 1. ë°ì´í„° ì¤€ë¹„ì™€ ì „ì²˜ë¦¬

In [1]:
import pandas as pd
import os

rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [2]:
# 3ì  ì´ìƒë§Œ ë‚¨ê¸´ë‹¤.
ratings = ratings[ratings['rating'] >= 3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [3]:
# rating ì»¬ëŸ¼ì˜ ì´ë¦„ì„ countë¡œ ë°”ê¿‰ë‹ˆë‹¤.
ratings.rename(columns={'rating':'count'}, inplace=True)
ratings['count']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: count, Length: 836478, dtype: int64

In [4]:
# ì˜í™” ì œëª©ì„ ë³´ê¸° ìœ„í•´ ë©”íƒ€ ë°ì´í„°ë¥¼ ì½ì–´ì˜µë‹ˆë‹¤.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

# 2. ë°ì´í„° ë¶„ì„
## 1) ratingsì— ìˆëŠ” ìœ ë‹ˆí¬í•œ ì˜í™” ê°œìˆ˜

In [5]:
print("ì˜í™” ê°œìˆ˜: ", ratings['movie_id'].nunique())

ì˜í™” ê°œìˆ˜:  3628

## 2) ratingsì— ìˆëŠ” ìœ ë‹ˆí¬í•œ ì‚¬ìš©ì ìˆ˜

In [6]:
print("ìœ ì € ìˆ˜: ", ratings['user_id'].nunique())

ìœ ì € ìˆ˜:  6039

## 3) ê°€ì¥ ì¸ê¸° ìˆëŠ” ì˜í™” 30ê°œ(ì¸ê¸°ìˆœ)

In [7]:
# movie_idë¥¼ ê¸°ì¤€ìœ¼ë¡œ merge í•˜ì—¬ ìƒˆë¡œìš´ ë°ì´í„° í”„ë ˆì„ ìƒì„±
merge_df = pd.merge(ratings, movies, on='movie_id')
merge_df.head()

,user_id,movie_id,count,timestamp,title,genre
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama

In [8]:
count_movies = merge_df.groupby('title')['user_id'].count()
count_movies = count_movies.sort_values(ascending=False)
count_movies.head(30)

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Name: user_id, dtype: int64

# 3. ë‚´ê°€ ì„ í˜¸í•˜ëŠ” ì˜í™”ë¥¼ 5ê°€ì§€ ê³¨ë¼ì„œ ratingsì— ì¶”ê°€í•´ ì¤ì‹œë‹¤.

In [9]:
# ì‚¬ìš©í•˜ëŠ” ì»¬ëŸ¼ë§Œ ë‚¨ê²¨ì¤€ë‹¤
cols = ['user_id', 'title', 'count']
movie_data = merge_df[cols]
movie_data.head()

   user_id                                   title  count
0        1  One Flew Over the Cuckoo's Nest (1975)      5
1        2  One Flew Over the Cuckoo's Nest (1975)      5
2       12  One Flew Over the Cuckoo's Nest (1975)      4
3       15  One Flew Over the Cuckoo's Nest (1975)      4
4       17  One Flew Over the Cuckoo's Nest (1975)      5

In [10]:
# ë‚´ê°€ ì„ í˜¸í•˜ëŠ” ì˜í™” 5ê°œ
my_fav = [
    'Star Wars: Episode VI - Return of the Jedi (1983)',
    'Men in Black (1997)',
    'Forrest Gump (1994)',
    'Toy Story (1995)',
    'Seven (1995)'
]

# ìœ ì € id, ì˜í™” ì œëª©, í‰ì 
my_rating = pd.DataFrame({'user_id' : [6041] * 5, 'title' : my_fav, 'count' : [4, 5, 5, 5, 5]})
my_rating

   user_id                                              title  count
0     6041  Star Wars: Episode VI - Return of the Jedi (1983)      4
1     6041                                Men in Black (1997)      5
2     6041                                Forrest Gump (1994)      5
3     6041                                   Toy Story (1995)      5
4     6041                                       Seven (1995)      5

In [11]:
# ë‚´ ì ìˆ˜ë¥¼ ë’¤ì— ë¶™ì¸ë‹¤
movie_data = movie_data.append(my_rating)

In [12]:
movie_data.tail(10)

        user_id                                              title  count
836473     5851                           One Little Indian (1973)      5
836474     5854                              Slaughterhouse (1987)      4
836475     5854             Promise, The (Versprechen, Das) (1994)      3
836476     5938        Five Wives, Three Secretaries and Me (1998)      4
836477     5948  Identification of a Woman (Identificazione di ...      5
0          6041  Star Wars: Episode VI - Return of the Jedi (1983)      4
1          6041                                Men in Black (1997)      5
2          6041                                Forrest Gump (1994)      5
3          6041                                   Toy Story (1995)      5
4          6041                                       Seven (1995)      5

In [13]:
movie_data[movie_data['user_id'] == 6041]

   user_id                                              title  count
0     6041  Star Wars: Episode VI - Return of the Jedi (1983)      4
1     6041                                Men in Black (1997)      5
2     6041                                Forrest Gump (1994)      5
3     6041                                   Toy Story (1995)      5
4     6041                                       Seven (1995)      5

## 4. CSR matrixë¥¼ ì§ì ‘ ë§Œë“¤ì–´ ë´…ì‹œë‹¤.

In [14]:
# ê³ ìœ í•œ ìœ ì €, ì•„í‹°ìŠ¤íŠ¸ë¥¼ ì°¾ì•„ë‚´ëŠ” ì½”ë“œ
user_unique = movie_data['user_id'].unique()
title_unique = movie_data['title'].unique()

# ìœ ì €, ì•„í‹°ìŠ¤íŠ¸ indexing 
user_to_idx = {v:k for k,v in enumerate(user_unique)}
title_to_idx = {v:k for k,v in enumerate(title_unique)}

In [15]:
# ì¸ë±ì‹±ì´ ì œëŒ€ë¡œ ë˜ì—ˆëŠ”ì§€ í™•ì¸
print(user_to_idx[6041])
print(title_to_idx['Back to the Future (1985)'])

6039
22

In [16]:
temp_user_data = movie_data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(movie_data): # ëª¨ë“  rowê°€ ì •ìƒì ìœ¼ë¡œ ì¸ë±ì‹±ë˜ì—ˆë‹¤ë©´
    print("user_id column indexing OK!!")
    movie_data['user_id'] = temp_user_data # movie_data['user_id']ì„ ì¸ë±ì‹±ëœ Seriesë¡œ êµì²´í•´ì¤€ë‹¤
else:
    print("user_id column indexing Fail!!")

# title_to_idxì„ í†µí•´ title ì»¬ëŸ¼ë„ ë™ì¼í•œ ë°©ì‹ìœ¼ë¡œ ì¸ë±ì‹± í•´ì¤€ë‹¤
temp_title_data = movie_data['title'].map(title_to_idx.get).dropna()
if len(temp_title_data) == len(movie_data):
    print("title column indexing OK!!")
    movie_data['title'] = temp_title_data
else:
    print("title column indexing Fail!!")

movie_data

user_id column indexing OK!!
title column indexing OK!!

    user_id  title  count
0         0      0      5
1         1      0      5
2         2      0      4
3         3      0      4
4         4      0      5
..      ...    ...    ...
0      6039     64      4
1      6039    175      5
2      6039    160      5
3      6039     40      5
4      6039   3628      5

[836483 rows x 3 columns]

In [17]:
# CSR matrix ë§Œë“¤ê¸°
from scipy.sparse import csr_matrix

num_user = movie_data['user_id'].nunique()
num_movie = movie_data['title'].nunique()

csr_data = csr_matrix((movie_data['count'], (movie_data['user_id'], movie_data['title'])), shape=(num_user, num_movie))
csr_data

<6040x3629 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## 5. als_model = AlternatingLeastSquares ëª¨ë¸ì„ ì§ì ‘ êµ¬ì„±í•˜ì—¬ í›ˆë ¨ì‹œì¼œ ë´…ì‹œë‹¤.

In [18]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ ê¶Œì¥í•˜ê³  ìˆëŠ” ë¶€ë¶„
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [19]:
# Implicit AlternatingLeastSquares ëª¨ë¸ì˜ ì„ ì–¸
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=30, dtype=np.float32)

In [20]:
# als ëª¨ë¸ì€ inputìœ¼ë¡œ item X user ê¼´ì˜ matrixë¥¼ ë°›ê¸° ë•Œë¬¸ì— Transpose í•´ì¤€ë‹¤.
csr_data_transpose = csr_data.T
csr_data_transpose

<3629x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [21]:
# ëª¨ë¸ í›ˆë ¨
als_model.fit(csr_data_transpose)

  0%|          | 0/30 [00:00<?, ?it/s]

## 6. í›ˆë ¨ëœ ëª¨ë¸ì´ ì˜ˆì¸¡í•œ ë‚˜ì˜ ì„ í˜¸ë„ íŒŒì•…
### ë‚´ê°€ ì„ í˜¸í•˜ëŠ” ì˜í™”ì˜ ì„ í˜¸ë„ ì˜ˆì¸¡

In [22]:
my_id = user_to_idx[6041] # ë‚´ê°€ ìƒˆë¡œ ì¶”ê°€í•œ ìœ ì € ì•„ì´ë””
saving_ryan = title_to_idx['Toy Story (1995)']

my_vector, saving_ryan_vector = als_model.user_factors[my_id], als_model.item_factors[saving_ryan]
print("í† ì´ ìŠ¤í† ë¦¬ ì„ í˜¸ë„: ", np.dot(my_vector, saving_ryan_vector))

í† ì´ ìŠ¤í† ë¦¬ ì„ í˜¸ë„:  0.48538798

### ë‹¤ë¥¸ ì˜í™”ì— ëŒ€í•œ ë‚˜ì˜ ì„ í˜¸ë„ ì˜ˆì¸¡

In [23]:
my_id = user_to_idx[6041] # ë‚´ê°€ ìƒˆë¡œ ì¶”ê°€í•œ ìœ ì € ì•„ì´ë””
saving_ryan = title_to_idx['Men in Black (1997)']

my_vector, saving_ryan_vector = als_model.user_factors[my_id], als_model.item_factors[saving_ryan]
print("ë§¨ì¸ë¸”ë™ ì„ í˜¸ë„: ", np.dot(my_vector, saving_ryan_vector))

ë§¨ì¸ë¸”ë™ ì„ í˜¸ë„:  0.46142977

## 7. ë‚´ê°€ ì¢‹ì•„í•˜ëŠ” ì˜í™”ì™€ ë¹„ìŠ·í•œ ì˜í™”ë¥¼ ì¶”ì²œë°›ê¸°

In [24]:
idx_to_title = {v:k for k, v in title_to_idx.items()} # ì˜í™” ì´ë¦„ : ì˜í™” idx

def get_similar_movie(movie_title: str):
    title_id = title_to_idx[movie_title]
    similar_movie = als_model.similar_items(title_id)
    similar_movie = [idx_to_title[i[0]] for i in similar_movie]
    return similar_movie

In [25]:
get_similar_movie('Forrest Gump (1994)')

['Forrest Gump (1994)',
 'Seven (1995)',
 'Groundhog Day (1993)',
 'Pretty Woman (1990)',
 'As Good As It Gets (1997)',
 'Ghost (1990)',
 'Sleepless in Seattle (1993)',
 'Clueless (1995)',
 'Four Weddings and a Funeral (1994)',
 "My Best Friend's Wedding (1997)"]

In [26]:
get_similar_movie('Star Wars: Episode VI - Return of the Jedi (1983)')

['Star Wars: Episode VI - Return of the Jedi (1983)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Seven (1995)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Raiders of the Lost Ark (1981)',
 'Back to the Future (1985)',
 'Forrest Gump (1994)',
 'Open Season (1996)',
 'Indiana Jones and the Last Crusade (1989)']

## 7-1. ë‚´ê°€ ê°€ì¥ ì¢‹ì•„í•  ë§Œí•œ ì˜í™”ë“¤ì„ ì¶”ì²œë°›ê¸°

In [27]:
movie_recommended = als_model.recommend(my_id, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(50, 0.4560038),
 (117, 0.42675376),
 (60, 0.3825466),
 (110, 0.37398186),
 (107, 0.37157542),
 (44, 0.3637982),
 (4, 0.3365166),
 (124, 0.29207698),
 (92, 0.279186),
 (99, 0.23671934),
 (322, 0.23060228),
 (22, 0.22782841),
 (33, 0.22362313),
 (150, 0.22337313),
 (670, 0.21393132),
 (48, 0.19125037),
 (475, 0.18990564),
 (38, 0.18773425),
 (204, 0.17651957),
 (20, 0.17616828)]

In [28]:
[idx_to_title[i[0]] for i in movie_recommended]

['Toy Story 2 (1999)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Groundhog Day (1993)',
 'Jurassic Park (1993)',
 'Star Wars: Episode IV - A New Hope (1977)',
 "Bug's Life, A (1998)",
 'Matrix, The (1999)',
 'Terminator 2: Judgment Day (1991)',
 'American Beauty (1999)',
 'Babe (1995)',
 'Back to the Future (1985)',
 'Aladdin (1992)',
 'Independence Day (ID4) (1996)',
 'Galaxy Quest (1999)',
 'Saving Private Ryan (1998)',
 'My Cousin Vinny (1992)',
 'Sixth Sense, The (1999)',
 'Clueless (1995)',
 'Pleasantville (1998)']

In [29]:
brave = title_to_idx['Star Wars: Episode IV - A New Hope (1977)']
explain = als_model.explain(my_id, csr_data, itemid=brave)

In [30]:
[(idx_to_title[i[0]], i[1]) for i in explain[1]]

[('Star Wars: Episode VI - Return of the Jedi (1983)', 0.3508879187385134),
 ('Men in Black (1997)', 0.020860648940917905),
 ('Toy Story (1995)', 0.003418042465602244),
 ('Seven (1995)', 0.0006187175171926824),
 ('Forrest Gump (1994)', -0.015879148323293887)]

# íšŒê³ 
- ìœ íŠœë¸Œ, ë„·í”Œë¦­ìŠ¤, ì¸í„°ë„· ê´‘ê³  ë“± ì—¬ëŸ¬ í”Œë«í¼ì—ì„œ ì‚¬ìš©í•˜ëŠ” ì¶”ì²œ ì‹œìŠ¤í…œì— ëŒ€í•´ì„œ ê¶ê¸ˆí•œ ë¶€ë¶„ì´ ë§ì•˜ì—ˆë‹¤.(ë§ˆì¹¨ ë‚´ê°€ ê¶ê¸ˆí–ˆë˜ê±¸ ì¶”ì²œí•´ì¤„ë•Œ ì§„ì§œ ì†Œë¦„;;)
- ì´ë²ˆ ë…¸ë“œë¥¼ í†µí•´ì„œ ì¶”ì²œ ì‹œìŠ¤í…œì— ëŒ€í•œ ì–´ëŠì •ë„ì˜ ê¶ê¸ˆì¦ì„ í•´ê²°í•œ ê²ƒ ê°™ë‹¤. 
- ê·¸ëŸ¬ë‚˜ ë…¸ë“œë¥¼ ì§„í–‰í•˜ë©´ì„œ ì˜ë¬¸ì´ ë“¤ì—ˆë‹¤. ì„ í˜¸í•˜ëŠ” ê²ƒì´ ëª…í™•í•œ ì‚¬ëŒë„ ìˆì§€ë§Œ, ê°€ë ¹ ì• ë‹ˆë©”ì´ì…˜ì„ ì¢‹ì•„í•˜ë©´ì„œ í˜¸ëŸ¬ë¥¼ ì¢‹ì•„í•˜ëŠ” ì‚¬ëŒë“¤ë„ ì¡´ì¬í•œë‹¤. ê·¸ëŸ° ì‚¬ëŒë“¤ì—ê²Œ ì¶”ì²œ ì‹œìŠ¤í…œì´ ì˜ ì ìš©í• ê¹Œ?
- ë‚˜ë¦„ ì¬ë¯¸ìˆê¸°ë„ í–ˆì§€ë§Œ ì–´ë µê³ , ì—¬ëŸ¬ ì˜ë¬¸ì´ ìƒê¸°ëŠ” ë…¸ë“œì˜€ë‹¤.